.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

data/raw/CMaps/*
data/processed/*

outputs/predictions/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/predictions/.gitkeep
!outputs/figures/.gitkeep
